/* social media icons by IconBunny from https://www.graphicsfuel.com/2017/08/1400-social-media-icons-free/ */
/* icons from feather icons */

* {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
		font-family: 'Merriweather', serif;
		background: #F0F8FF;
		font-size: 18px;
		margin: 0;
		padding: 0;
		width: 100%;
		color: #100C08;
		overflow-x: hidden;
	}

@media(max-width: 640px) {
	body {
		font-size: 18px;
	}

	section {
		height: 100vh;
	}

	.title {
		text-align: center;
		padding-top: 3%;
		padding-bottom: 2%;
		font-weight: bold;
		font-size: 20px;
	}

	.text-body {
		width: 90%;
		padding-left: 5%;
		padding-bottom: 3%;
	}

	header {
		height: 50vh;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #F0F8FF;
	}

	div {
		width: 100%;
		display: block;
	  	text-align: left;
	}

	.info {
	  	background-color: #F0F8FF;
	  	display: flex;
	  	margin: 0;
	  	flex-direction: column;
	  	overflow: scroll;
	  	height: 50vh;
	}

	.alt-info {
	  	background-color: #F0F8FF;
	  	display: flex;
	  	margin: 0;
	  	flex-direction: column;
	  	overflow: scroll;
	  	height: 50vh;
	}

	.brand {
		font-family: 'Pacifico', cursive;
		font-size: 50px;
		color: #F0F8FF;
		text-shadow: 2px 3px #100C08;
		display: block;
		line-height: 1.1;
		margin-bottom: 8px;
	}

	#top-txt {
		text-align: center;
		padding-top: 5%;
		margin: 0;
	}

	.scrolling-text {
		font-family: 'Merriweather', serif;
		font-size: 50px;
		text-align: center;
		background-color: #2A2E45;
		display: block;
		flex-direction: column;
		height: 50vh;
		color: #F0F8FF;
	}

	#greeting {
		height: 38vh;
	}

	.scrolling-text p {
		color: #F0F8FF;
		text-shadow: 2px 3px #100C08;
	}

	.gen-nav {
		padding-top: 7%;
		align-self: center;
		bottom: 0;
		list-style-type: none;
		overflow: hidden;
		margin: 0;
		padding: 0;;
		display: block;
	}

	li {
		font-size: 20px; /* adjust for screen size */
		padding: 0px 0px 0px 0px; /* fix this */
		display: inline-flex;
	}

	li a {
		text-decoration: none;
		display: block;
		color: #F0F8FF;
		text-shadow: 1px 2px #100C08;
	}

	li a:hover {
		color: #64B6AC;
	}

	/*.to-top {
		margin-right: 2%;
	    margin-bottom: 2%;
	}*/
}

@media(min-width: 640px) {
	body {
		font-size: 20px;
	}

	section {
		height: 100vh;
	}

	.title {
		text-align: center;
		padding-top: 5%;
		padding-bottom: 2%;
		font-weight: bold;
		font-size: 23px;
	}

	.text-body {
		width: 80%;
		padding-left: 8%;
		padding-bottom: 5%;
	}

	header {
		height: 100vh;
		width: 50%;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #F0F8FF;
		float: left;
	}

	.alt-header {
		float: right;
	}

	div {
		width: 100%;
		display: table;
	  	text-align: left;
	}

	.info {
	  	background-color: #F0F8FF;
	  	display: block;
	  	margin: 0;
	  	flex-direction: column;
	  	width: 50%;
	  	height: 100vh;
	  	overflow-y: scroll;
	}

	.alt-info {
	  	background-color: #F0F8FF;
	  	display: block;
	  	margin: 0;
	  	flex-direction: column;
	  	width: 50%;
	  	height: 100vh;
	  	overflow-y: scroll;
	}

	.brand {
		font-family: 'Pacifico', cursive;
		font-size: 65px;
		color: #F0F8FF;
		text-shadow: 2px 3px #100C08;
		display: block;
		line-height: 1.1;
		margin-bottom: 4px;
	}

	#top-txt {
		text-align: center;
		margin: 0;
		padding-top: 5%;
		padding-left: 2%;
		padding-right: 2%;
	}

	.scrolling-text {
		font-family: 'Merriweather', serif;
		font-size: 60px;
		text-align: center;
		background-color: #2A2E45;
		color: #F0F8FF;
		display: block;
		flex-direction: column;
		height: 50vh;
	}

	#greeting {
		height: 25vh;
	}

	.scrolling-text p {
		color: #F0F8FF;
		text-shadow: 2px 3px #100C08;
	}

	.gen-nav {
		padding-top: 1%;
		list-style-type: none;
		overflow: hidden;
		margin: 0;
		display: block;
	}

	li {
		font-size: 25px;
		padding: 0px 0px 0px 0px; /* fix this */
		display: inline-flex;
	}

	li a {
		text-decoration: none;
		display: block;
		color: #F0F8FF;
		text-shadow: 1px 2px #100C08;
	}

	li a:hover {
		color: #64B6AC;
	}

	/*.to-top {
		margin-right: 0.5%;
	    margin-bottom: 0.5%;
	}*/
}

.content-wrapper {
	text-align: center;
	}

.to-top {
	bottom: 0;
	right: 0;
	position: fixed;
	float: right;
	text-shadow: 1px 2px #100C08;
	font-size: 25px;
	color: #F0F8FF;
	text-decoration: none;
}

button {
	font-family: 'Pacifico', cursive;
	background-color: #100C08;
	border: none;
	text-align: center;
	outline: 3px solid #F0F8FF;
	transition: all ease-in-out 300ms;
}

button:hover {
	outline: 3px solid #F0F8FF;
	outline-offset: -6px;
}

.footer {
	height: 10vh;
	color: #F0F8FF;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #1D1D27;
	font-size: 18px;
}

.footer-text {
	display: flex;
	align-items: center;
	padding-left: 2%;
	height: 10vh;
	float: left;
	width: 100vh;
}

.footer a {
	height: 100%;
	width: 15%;
}

.footer button {
	width: 10%;
	float: right;
}

.gen-nav li:before { 
		content: '·';
		padding-right: 10px;
	}

li:first-of-type:before { 
	content: none;
}

a {
	color: #64B6AC;
}

.text-link:hover {
	color: #100C08;
}

.social-media {
	text-align: center;
}
